<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <!-- 카메라 권한 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dispenser"

        android:networkSecurityConfig="@xml/network_security_config"

        tools:targetApi="31">

        <!-- 메인 런처 액티비티 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Dispenser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ZXing QR 스캔용 CaptureActivity (Merger Override) -->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            tools:replace="android:screenOrientation,android:theme"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />



    </application>
</manifest>
